<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="output.css" />
		<script src="script.js" defer></script>
	</head>
	<body>
		<!--  DOKONCZYC SLIDER DO HERO SEKCJI -->
		<!-- Zmienic font an Inter i Montserrat -->
		<!-- Porobic hover efekty na buttony -->
		<!-- <header
			class="flex justify-between py-4 shadow-md fixed z-50 w-full bg-white"
		>
			<section class="relative flex justify-between w-10/12 m-auto">
				<a href="#" class="flex">
					<img src="../assets/svg/logo.svg" alt="" />
				</a>
				<div class="menu-icon relative cursor-pointer md:hidden">
					<div
						class="menu-icon__shape w-5 h-5 rounded-full border-2"
					></div>
					<div class="menu-icon__shape w-5 h-5 border-2"></div>
				</div>
				<nav class="nav bg-white">
					<ul
						class="flex max-md:flex-col items-center justify-center h-full max-md:shadow-md md:gap-6 md:justify-end"
					>
						<li class="list-item overflow-hidden">
							<a href="#">Oferta</a>
							<nav
								class="sub-nav flex justify-center md:absolute"
							>
								<ul
									class="text-lg font-medium grid gap-3 w-full md:justify-start md:text-sm"
								>
									<li class="sub-nav__item w-full md:px-4">
										<a href="#">Oferta 1</a>
									</li>
									<li class="sub-nav__item w-full md:px-4">
										<a href="#">Oferta 2</a>
									</li>
									<li class="sub-nav__item w-full md:px-4">
										<a href="#">Oferta 3</a>
									</li>
									<li class="sub-nav__item w-full md:px-4">
										<a href="#">Oferta 4</a>
									</li>
								</ul>
							</nav>
						</li>
						<li class="list-item">
							<a href="#">O firmie</a>
						</li>
						<li class="list-item">
							<a href="#">Realizacje</a>
						</li>
						<li class="list-item">
							<a href="#">Kontakt</a>
						</li>
						<li
							class="list-item__input flex items-center px-2 max-md:mt-10 max-md:w-5/6 max-w-sm md:items-center"
						>
							<img
								src="../assets/svg/search.svg"
								alt=""
								class="list-item__input-icon w-5 h-5 cursor-pointer"
							/>
							<input
								type="text"
								class="list-item__input-field w-full py-1 rounded-lg outline-none"
							/>
						</li>
					</ul>
				</nav>
			</section>
		</header> -->

		<main>
			<section class="about bg-green grid">
				<picture class="h-full">
					<img
						src="../assets/images/Photo2.png"
						alt=""
						class="w-full object-cover h-full"
					/>
				</picture>
				<section
					class="about__content text-gray px-5 py-10 md:grid place-content-center md:py-16"
				>
					<a href="#" class="text-xs mb-4 md:mb-6">O firmie</a>
					<section class="mb-10 md:pr-8 md:mb-14 lg:mb-20">
						<h2 class="about__heading mb-5 md:mb-14">
							Tworzymy z
							<span class="font-inter italic"> pasją</span>
						</h2>
						<p class="md:max-w-prose">
							Każdy projekt to nowe wyzwanie. Dlatego nasz zespół
							tworzą wykwalifikowani projektanci oraz architekci,
							których zadaniem jest rozpoznanie i realizacja
							potrzeb każdego Klienta. Nasza specjalizacja to
							przestrzenie nowoczesne, które charakteryzuje
							minimalizm, geometria i elegancka prostota. Tworzymy
							ogrody małoobsługowe, dostosowane do współczesnego
							trybu życia.
						</p>
					</section>
					<a
						href="#"
						type="button"
						class="btn flex gap-2 border-2 border-gray rounded-full w-fit"
					>
						<p>Poznaj nas bliżej</p>
						<picture class="-rotate-90">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								stroke="#F5F0EC"
								class="w-6 h-6"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3"
								/>
							</svg>
						</picture>
					</a>
				</section>
			</section>
		</main>
	</body>
</html>
