<footer class="bg-black text-gray px-5 py-16">
	<div class="md:w-11/12 mx-auto lg:w-9/12">
		<section
			class="flex flex-col gap-8 mb-16 relative md:flex-row md:justify-between md:items-center md:mb-32"
		>
			<picture>
				<img src="../assets/svg/logo-white.svg" alt="" />
			</picture>
			<section class="flex flex-wrap gap-8 items-center md:flex-row">
				<p>Daj znać, co możemy dla Ciebie zrobić!</p>
				<a href="#" type="button" class="btn bg-green w-fit"
					>Skontaktuj się z nami</a
				>
			</section>
			<div class="footer__separator"></div>
		</section>
		<section class="mb-16 flex justify-between flex-wrap gap-6">
			<nav class="list-none flex gap-x-10 gap-y-4 flex-wrap mb-8">
				<li>
					<a href="#">Kontakt</a>
				</li>
				<li>
					<a href="#">Instagram</a>
				</li>
				<li>
					<a href="#">Facebook</a>
				</li>
				<li>
					<a href="#">Linkedin</a>
				</li>
			</nav>
			<section class="flex justify-between flex-wrap gap-x-10 gap-y-4">
				<p>000-000-000</p>
				<p>giarddesign@kontakt.pl</p>
			</section>
		</section>
		<section
			class="flex flex-col gap-4 items-center md:flex-row md:justify-between"
		>
			<p>
				Prawa zastrzeżone
				<span class="text-lg">&reg;</span>
				2022
			</p>
			<picture>
				<img src="../assets/images/Made by.png" alt="" />
			</picture>
		</section>
	</div>
</footer>
