<section class="slider-container">
	<section class="bg-beige overflow-hidden relative h-screen">
		<div
			class="slider slider-1 hero__grid h-screen grid lg:gap-28 lg:mx-auto lg:w-11/12"
		>
			<section
				class="max-lg:w-11/12 flex flex-col flex-wrap justify-center mx-auto text-center lg:text-left max-w-md"
			>
				<h1 class="text-3xl font-medium mb-4 lg:text-6xl lg:mb-16">
					Nowoczesna aranżacja Twojego ogrodu
				</h1>
				<p class="mb-8 lg:mb-20 max-w-sm max-md:mx-auto">
					Marka GiardDesign to wieloletnie doświadczenie i wysoka
					estetyka realizacji. Oferujemy kompleksowy zakres usług z
					indywidualnym podejściem do każdego projektu.
				</p>
				<section
					class="flex max-lg:flex-col text-sm gap-y-3 mx-auto max-lg:max-w-xs gap-x-6 lg:mx-0"
				>
					<a
						href="#"
						type="button"
						class="btn bg-green text-white hover:brightness-125"
					>
						Skontaktuj się z nami
					</a>
					<a
						href="#"
						type="button"
						class="group btn text-green flex gap-2 justify-center items-center hover:bg-green hover:text-white"
					>
						<p>Zobacz nasze realizacje</p>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="#1B5B31"
							class="w-5 h-5 group-hover:stroke-white transition-all ease-in duration-150"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3"
							/>
						</svg>
					</a>
				</section>
			</section>
			<picture class="w-full h-full hero__img justify-self-start">
				<img
					src="../assets/images/Photo.png"
					alt=""
					class="w-full h-full object-cover"
				/>
			</picture>
		</div>
		<section class="hero__slider-btns flex absolute bottom-0 right-0">
			<button class="bg-white p-2 md:p-4 cursor-pointer">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="#000000"
					class="w-6 h-6 rotate-90 md:w-8 md:h-8"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3"
					/>
				</svg>
			</button>
			<button class="bg-white p-2 md:p-4 cursor-pointer">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="#000000"
					class="w-6 h-6 -rotate-90 md:w-8 md:h-8"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3"
					/>
				</svg>
			</button>
		</section>
	</section>
	<section class="bg-beige overflow-hidden relative h-screen">
		<div
			class="slider slider-1 hero__grid h-screen grid lg:gap-28 lg:mx-auto lg:w-11/12"
		>
			<section
				class="max-lg:w-11/12 flex flex-col flex-wrap justify-center mx-auto text-center lg:text-left max-w-md"
			>
				<h1 class="text-3xl font-medium mb-4 lg:text-6xl lg:mb-16">
					Nowoczesna aranżacja Twojego ogrodu
				</h1>
				<p class="mb-8 lg:mb-20 max-w-sm max-md:mx-auto">
					Marka GiardDesign to wieloletnie doświadczenie i wysoka
					estetyka realizacji. Oferujemy kompleksowy zakres usług z
					indywidualnym podejściem do każdego projektu.
				</p>
				<section
					class="flex max-lg:flex-col text-sm gap-y-3 mx-auto max-lg:max-w-xs gap-x-6 lg:mx-0"
				>
					<a
						href="#"
						type="button"
						class="btn bg-green text-white hover:brightness-125"
					>
						Skontaktuj się z nami
					</a>
					<a
						href="#"
						type="button"
						class="group btn text-green flex gap-2 justify-center items-center hover:bg-green hover:text-white"
					>
						<p>Zobacz nasze realizacje</p>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="#1B5B31"
							class="w-5 h-5 group-hover:stroke-white transition-all ease-in duration-150"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3"
							/>
						</svg>
					</a>
				</section>
			</section>
			<picture class="w-full h-full hero__img justify-self-start">
				<img
					src="../assets/images/Photo.png"
					alt=""
					class="w-full h-full object-cover"
				/>
			</picture>
		</div>
		<section class="hero__slider-btns flex absolute bottom-0 right-0">
			<button class="bg-white p-2 md:p-4 cursor-pointer">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="#000000"
					class="w-6 h-6 rotate-90 md:w-8 md:h-8"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3"
					/>
				</svg>
			</button>
			<button class="bg-white p-2 md:p-4 cursor-pointer">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="#000000"
					class="w-6 h-6 -rotate-90 md:w-8 md:h-8"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3"
					/>
				</svg>
			</button>
		</section>
	</section>
	<section class="bg-beige overflow-hidden relative h-screen">
		<div
			class="slider slider-1 hero__grid h-screen grid lg:gap-28 lg:mx-auto lg:w-11/12"
		>
			<section
				class="max-lg:w-11/12 flex flex-col flex-wrap justify-center mx-auto text-center lg:text-left max-w-md"
			>
				<h1 class="text-3xl font-medium mb-4 lg:text-6xl lg:mb-16">
					Nowoczesna aranżacja Twojego ogrodu
				</h1>
				<p class="mb-8 lg:mb-20 max-w-sm max-md:mx-auto">
					Marka GiardDesign to wieloletnie doświadczenie i wysoka
					estetyka realizacji. Oferujemy kompleksowy zakres usług z
					indywidualnym podejściem do każdego projektu.
				</p>
				<section
					class="flex max-lg:flex-col text-sm gap-y-3 mx-auto max-lg:max-w-xs gap-x-6 lg:mx-0"
				>
					<a
						href="#"
						type="button"
						class="btn bg-green text-white hover:brightness-125"
					>
						Skontaktuj się z nami
					</a>
					<a
						href="#"
						type="button"
						class="group btn text-green flex gap-2 justify-center items-center hover:bg-green hover:text-white"
					>
						<p>Zobacz nasze realizacje</p>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="#1B5B31"
							class="w-5 h-5 group-hover:stroke-white transition-all ease-in duration-150"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3"
							/>
						</svg>
					</a>
				</section>
			</section>
			<picture class="w-full h-full hero__img justify-self-start">
				<img
					src="../assets/images/Photo.png"
					alt=""
					class="w-full h-full object-cover"
				/>
			</picture>
		</div>
		<section class="hero__slider-btns flex absolute bottom-0 right-0">
			<button class="bg-white p-2 md:p-4 cursor-pointer">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="#000000"
					class="w-6 h-6 rotate-90 md:w-8 md:h-8"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3"
					/>
				</svg>
			</button>
			<button class="bg-white p-2 md:p-4 cursor-pointer">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="#000000"
					class="w-6 h-6 -rotate-90 md:w-8 md:h-8"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3"
					/>
				</svg>
			</button>
		</section>
	</section>
</section>
