<section
	class="bg-green px-5 py-8 md:bg-white md:grid place-content-center md:py-14"
>
	<div class="instagram__container bg-green text-gray grid gap-8">
		<h2>
			<div>Zostańmy w kontakcie!</div>
			<div>
				Znajdziesz nas na
				<span class="font-inter italic font-bold">Instagramie.</span>
			</div>
		</h2>
		<section class="grid gap-4">
			<p>Śledź nasze najnowsze realizacje!</p>
			<a
				href="#"
				type="button"
				class="instagram__btn bg-white text-green rounded-full py-2 px-4 w-fit h-fit"
				>Instagram</a
			>
		</section>
	</div>
</section>
