<section class="bg-gray grid gap-8 md:gap-14">
	<header class="offer__header md:mx-auto">
		<a href="#" class="text-green text-xs mb-4">Oferta</a>
		<h2 class="mb-6 md:mb-8 mt-3">
			Działamy
			<span class="font-inter italic"> kompleksowo</span>
		</h2>
		<p>
			Oferujemy kompletną obsługę inwestycji terenów zielonych.
			Projektujemy nowoczesne ogrody przydomowe oraz rezydencjonalne.
			Stworzymy dla Ciebie projekt, zwizualizujemy go i wcielimy w życie,
			a na każdym etapie posłużymy radą i wieloletnim doświadczeniem.
		</p>
	</header>
	<section class="offer__card-container grid gap-5">
		<section
			class="offer__card bg-white grid gap-20 p-7 rounded-3xl md:p-10"
		>
			<section>
				<picture class="block w-8 h-8 mb-6 md:w-12 md:h-12 md:mb-8">
					<img src="../assets/svg/projekty.svg" alt="" class="img" />
				</picture>
				<section>
					<h3 class="mb-2 md:mb-4">Projekty</h3>
					<p>
						Zaprojektujemy Twój ogród w nowoczesnym stylu i z
						najlepszym wykorzystaniem istniejącej przestrzeni.
					</p>
				</section>
			</section>
			<a
				href="#"
				class="offer__card-btn flex items-center gap-2 relative w-fit"
			>
				<p class="text-base text-green">Dowiedz się więcej</p>
				<picture class="block w-5 h-5 -rotate-90">
					<img
						src="../assets/svg/arrow-down.svg"
						alt=""
						class="img"
					/>
				</picture>
			</a>
		</section>
		<section
			class="offer__card bg-white grid gap-20 p-7 rounded-3xl md:p-10"
		>
			<section>
				<picture class="block w-8 h-8 mb-6 md:w-12 md:h-12 md:mb-8">
					<img
						src="../assets/svg/wizualizacje.svg"
						alt=""
						class="img"
					/>
				</picture>
				<section>
					<h3 class="mb-2 md:mb-4">Wizualizacje</h3>
					<p>
						Przedstawimy Ci projekty koncepcyjne w postaci
						wirtualnego spaceru animowanego w technologii 3D.
					</p>
				</section>
			</section>
			<a
				href="#"
				class="offer__card-btn flex items-center gap-2 relative w-fit"
			>
				<p class="text-base text-green">Dowiedz się więcej</p>
				<picture class="block w-5 h-5 -rotate-90">
					<img
						src="../assets/svg/arrow-down.svg"
						alt=""
						class="img"
					/>
				</picture>
			</a>
		</section>
		<section
			class="offer__card bg-white grid gap-20 p-7 rounded-3xl md:p-10"
		>
			<section>
				<picture class="block w-8 h-8 mb-6 md:w-12 md:h-12 md:mb-8">
					<img src="../assets/svg/projekty.svg" alt="" class="img" />
				</picture>
				<section>
					<h3 class="mb-2 md:mb-4">Realizacje</h3>
					<p>
						Zrealizujemy Twoje marzenie przy użyciu najnowszych
						rozwiązań i zaawansowanych technologii.
					</p>
				</section>
			</section>
			<a
				href="#"
				class="offer__card-btn flex items-center gap-2 relative w-fit"
			>
				<p class="text-base text-green">Dowiedz się więcej</p>
				<picture class="block w-5 h-5 -rotate-90">
					<img
						src="../assets/svg/arrow-down.svg"
						alt=""
						class="img"
					/>
				</picture>
			</a>
		</section>
	</section>
</section>
