<section class="offer__card-container grid gap-5">
	<section class="offer__card bg-white grid gap-20 p-7 rounded-3xl md:p-10">
		<section>
			<picture class="block w-8 h-8 mb-6 md:w-12 md:h-12 md:mb-8">
				<img src="../assets/projekty.svg" alt="" class="img" />
			</picture>
			<section>
				<h3 class="mb-2 md:mb-4">Projekty</h3>
				<p>
					Zaprojektujemy Twój ogród w nowoczesnym stylu i z najlepszym
					wykorzystaniem istniejącej przestrzeni.
				</p>
			</section>
		</section>
		<a
			href="#"
			class="offer__card-btn flex items-center gap-2 relative w-fit"
		>
			<p class="text-base text-green">Dowiedz się więcej</p>
			<picture class="block w-5 h-5 -rotate-90">
				<img src="../assets/arrow-down.svg" alt="" class="img" />
			</picture>
		</a>
	</section>
	<section class="offer__card bg-white grid gap-20 p-7 rounded-3xl md:p-10">
		<section>
			<picture class="block w-8 h-8 mb-6 md:w-12 md:h-12 md:mb-8">
				<img src="../assets/wizualizacje.svg" alt="" class="img" />
			</picture>
			<section>
				<h3 class="mb-2 md:mb-4">Wizualizacje</h3>
				<p>
					Przedstawimy Ci projekty koncepcyjne w postaci wirtualnego
					spaceru animowanego w technologii 3D.
				</p>
			</section>
		</section>
		<a
			href="#"
			class="offer__card-btn flex items-center gap-2 relative w-fit"
		>
			<p class="text-base text-green">Dowiedz się więcej</p>
			<picture class="block w-5 h-5 -rotate-90">
				<img src="../assets/arrow-down.svg" alt="" class="img" />
			</picture>
		</a>
	</section>
	<section class="offer__card bg-white grid gap-20 p-7 rounded-3xl md:p-10">
		<section>
			<picture class="block w-8 h-8 mb-6 md:w-12 md:h-12 md:mb-8">
				<img src="../assets/projekty.svg" alt="" class="img" />
			</picture>
			<section>
				<h3 class="mb-2 md:mb-4">Realizacje</h3>
				<p>
					Zrealizujemy Twoje marzenie przy użyciu najnowszych
					rozwiązań i zaawansowanych technologii.
				</p>
			</section>
		</section>
		<a
			href="#"
			class="offer__card-btn flex items-center gap-2 relative w-fit"
		>
			<p class="text-base text-green">Dowiedz się więcej</p>
			<picture class="block w-5 h-5 -rotate-90">
				<img src="../assets/arrow-down.svg" alt="" class="img" />
			</picture>
		</a>
	</section>
</section>
